<div class="banner-villa">
  <%= image_tag "https://res.cloudinary.com/datbhgbcq/image/upload/c_scale,h_1000/v1591265671/villa-alicia-6_vuwl1h.webp" %>
  <div class="add-to-favorite">
    <button class="btn house-wishlist__btn btn-sm btn-light" style="font-weight: lighter;"><i class="far fa-heart" style="padding-right: 10px;"></i> Ajouter aux favoris</button>
  </div>
</div>



<div class="container spacer">
  <h2><%= @villa.name %></h2>
</div>
