<h1>Favorites#index</h1>
<p>Find me in app/views/favorites/index.html.erb</p>

<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All Bookings</h1>
    </div>
  </div>
<section class="page-section">
    <div class="container">
      <div class="booking-item">
        <div class="booking-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Mai 2020</span>
              <span class="section-heading-lower">Paris</span>
            </h2>
          </div>
        </div>
        <img class="booking-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/homepage/02.jpg" alt="">
        <div class="booking-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0">Villa César.</p>
            <h2>Adresse: 12, Avenue Georges Mandel</h2>
            <h2>Code de confirmation: HIMZJRUH45JI</h2>
            <h2>Coût total: 2890€</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="booking-item">
        <div class="booking-item-title d-flex">
          <div class="bg-faded p-5 d-flex mr-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Janvier 2020</span>
              <span class="section-heading-lower">Miami</span>
            </h2>
          </div>
        </div>
        <img class="booking-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/homepage/05.jpg" alt="">
        <div class="booking-item-description d-flex ml-auto">
          <div class="bg-faded p-5 rounded">
             <p class="mb-0">Villa Manoi.</p>
            <h2>Adresse: 11th Street</h2>
            <h2>Code de confirmation: PFMHjU21JI</h2>
            <h2>Coût total: 3170€</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="booking-item">
        <div class="booking-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper">Novembre 2019</span>
              <span class="section-heading-lower">Lisbonne</span>
            </h2>
          </div>
        </div>
        <img class="booking-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/homepage/06.jpg" alt="">
        <div class="booking-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
           <p class="mb-0">Villa Liberty.</p>
            <h2>Adresse: R. Rodrigo da Fonseca</h2>
            <h2>Code de confirmation: RBNHjU43SV</h2>
            <h2>Coût total: 2149€</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
