.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
}

.text-align-justify {
  text-align: justify;
}

.card-img {
  background-size: cover;
  background-position: center;
  height: 300px;
}

.card-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.card {
  background-color: #fff;
  border-radius: .125rem;
  border: 1px solid #eaeaea;
  color: #202020;
  text-decoration: none;
  overflow: hidden;
  transition: all .5s ease;
  margin-bottom: 16px;
}

.card:hover {
  box-shadow: 5px 5px 5px 5px #dddddd;
}

.card-tag {
  display: flex;
  float: left;
  margin: 0 0.5rem 1rem 0;
}

.tag__icon {
  padding: 0 .5rem 0 0;
}

.icn {
  line-height: 1;
  font-size: 1,5rem;
  font-family: "icomoon";
  display: inline-block;
  vertical-align: bottom;
  box-sizing: content-box;
  padding-left: 10px;
}

.icn-show {
  line-height: 1;
  font-size: 1.5rem;
  font-family: "icomoon";
  display: inline-block;
  vertical-align: bottom;
  box-sizing: content-box;
}

.tag__text {
  padding: 0 1rem 0rem 0.5rem;
  font-weight: lighter;
  font-size: 1rem;
}

.tag-list__tag {
  display: flex;
  margin: 0 0 .5rem 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.banner-villa {
  background-position: center;
  text-align: center;
}

// .default-layout__content {
//   display: flex;
//   flex: 1 1 auto;
// }

.house-slug__container {
  width: 100%;
}

.house-heading__container {
  display: flex;
  flex-direction: column;
}

.house-heading__pictures {
  overflow: hidden;
  position: relative;
  margin: 0 0 2rem 0;
}

.house-carousel__fullscreen-img {
  object-fit: cover;
  cursor: pointer;
  background-position: center;
  zoom: 120%;
  text-align: center;
}

.house-carousel__fullscreen-img-wrapper {
  background-color: #f5f7f8;
}

.house-carousel__btn-container {
  position: absolute;
  bottom: 1rem;
  z-index: 1;
}

.house-wishlist__btn {
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #cacaca;
  border-radius: .25rem;
}

.house-description__container {
  display: flex;
  align-items: flex-start;
  white-space: pre-line;
  padding: 2rem 0 0 0;
  margin: 0 0 1rem 0;
}

.house-details__tag {
  width: auto;
  display: inline-block;
}

.house-description__icon {
  color: #dbbc8f;
  margin: 0 1rem 0 0;
}

.icn.icn-xs {
  min-width: 1.5rem;
  font-size: 1.5rem;
}

.btn-sm {
  padding: .625rem 1.5rem;
  font-size: 1rem;
  line-height: 1.2;
  border-radius: .125rem;
}

.btn {
  display: inline-block;
  font-weight: 700;
  color: #202020;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ffffff;
  border: 1px solid transparent;
  padding: .875rem 1.5rem;
  font-size: 1rem;
  line-height: 1.2;
  border-radius: .125rem;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.add-to-favorite {
  position: relative;
  top: -100px;
  left: -450px;
}

.house-surrounding__title {
  margin: 0 0 1.5rem 0;
}

.house-surrounding__text {
  white-space: pre-line;
}

.container-fluid {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

.house-card__wishlist-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 11;
  transition: opacity .5s ease-out;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.house-title__button--wishlist {
  width: auto;
  position: absolute;
  top: .5rem;
  right: .5rem;
}

.collapse-arrow--active {
  top: .1rem;
  transform: rotate(-135deg);
}

.collapse-arrow {
  width: .5rem;
  height: .5rem;
  display: inline-block;
  position: relative;
  top: -.2rem;
  border-width: 2px;
  border-style: solid;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
  margin: 0 0 0 .5rem;
}

.house-services__frame {
  border-radius: .25rem;
  border: 1px solid #cacaca;
  position: relative;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  margin: 0 0 1.5rem 0;
}

.house-services__title {
  margin: 0 0 1.5rem 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 1.5rem;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #202020;
  font-weight: bold;
}

h4, .h4 {
  font-size: 1.875rem;
}

h2, .h2 {
  font-size: 2.5rem;
}

.house-title__title {
  margin: 0;
}

// .sticky-bottom {
//   width: 100%;
//   position: fixed;
//   left: 0;
//   bottom: 0;
//   background-color: #fff;
//   border-radius: .25rem .25rem 0 0;
//   box-shadow: inset 0 1px 3px 0 #f5f7f8, 0 -1px 4px 0 rgba(32,32,32,0.2);
//   z-index: 1020;
// }

// .mobile-inquiry {
//   display: flex;
//   align-items: center;
//   z-index: 1;
//   padding: 1rem;
// }

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.mobile-inquiry__house-price {
  font-weight: bold;
  margin: 0 1rem 0 0;
}

.inquiry-block {
  border: 1px solid #cacaca;
  border-radius: .25rem;
  overflow: visible;
  background: #fff;
  padding: 1.5rem 1rem;
}

.inquiry-block {
  overflow: visible;
  background: #fff;
  padding: 1.5rem 1rem;
  border: 1px solid #cacaca;
  border-radius: .25rem;
}

.sticky-right {
  position: sticky;
  top: 32px;
  z-index: 1;
  margin: -280px 0 2rem 0;
}

.inquiry-date-picker__title {
  margin: 0 0 .25rem 0;
}

.inquiry-date-picker__price-from {
  font-weight: 500;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-secondary {
  color: #fff;
  background-color: #195252;
  border-color: #195252;
}

.inquiry-date-picker__contact {
  text-align: center;
  margin: 1.5rem 0 2rem 0;
}

.inquiry-date-picker__divider {
  margin: 1.5rem 0;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.inquiry-block {
  overflow: visible;
  background: #fff;
  padding: 1.5rem 1rem;
}

.col-lg-8 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.house-inquiry__sticky-right {
  display: block;
}

@media (min-width: 992px) {
.col-lg-15 {
  flex: 0 0 62.5%;
  max-width: 62.5%;
  }
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.house-surroundings__maps {
  height: 300px;
  margin: 0 auto 1.5rem;
}

.col-24 {
  // flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 992px) {
.house-carousel__fullscreen-img {
    height: 70vh;
  }
}

@media (min-width: 768px) {
.house-carousel__fullscreen-img {
    height: 480px;
  }
}

@media (min-width: 576px) {
.col-sm-12 {
  flex: 0 0 50%;
  max-width: 50%;
  }
}


