@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

nav
{
  background: #2E2E2E;
}


.navbar-brand{
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
  padding-right: 20px;
}

.nav-item
{
  padding-right: 16px;
}

