<div class="w-25">
  <%= simple_form_for [@villa, @review] do |f| %>
  <%= f.input :rating, label: "Donnez une note entre 1 à 5" %>
    <%= f.input :content, label: "Ecrivez votre commentaire" %>
    <%= f.button :submit, "Enregistrer", class: "btn btn-info" %>
  <% end %>
</div>
